@mixin font-face($name, $file, $style, $weight, $format) {
  @font-face {
    font-display: swap;
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;
    src: local("#{$file}"), url("../fonts/#{$file}") format("#{$format}");
  }
}

@mixin old-border($size: 2) {
  border-bottom: #{$size}px inset rgb(0 0 0 / 50%);
  border-left: #{$size}px inset rgb(0 0 0 / 50%);
  border-right: #{$size}px inset rgb(255 255 255 / 50%);
  border-top: #{$size}px inset rgb(255 255 255 / 50%);
}

@mixin old-border--active($size: 2) {
  border-bottom: #{$size}px inset rgb(255 255 255 / 50%);
  border-left: #{$size}px inset rgb(255 255 255 / 50%);
  border-right: #{$size}px inset rgb(0 0 0 / 50%);
  border-top: #{$size}px inset rgb(0 0 0 / 50%);
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  -webkit-touch-callout: none;
  user-select: none;
  white-space: nowrap;
  width: 1px;
}

@mixin hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  display: none;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  -webkit-touch-callout: none;
  user-select: none;
  white-space: nowrap;
  width: 1px;
}
