$black: #000000;
$white: #ffffff;

$note-header: #101820;
$note-header-items: #ffffff;
// $desktop-color: #999999;
$desktop-color: #00a5a5;
$background-light: #c4c1bc;
$background-dark: #828282;
$background-hover: #a8a8a8;
$blue-windows: hsl(223deg 90% 40%);
