*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
b,
blockquote,
center,
code,
div,
h1,
h2,
h3,
h4,
h5,
h6,
i,
img,
p,
pre,
span,
table,
td,
th,
tr,
u,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
