.file.file--text
	.file__label
		.file__name about
	.file__content
		h2 Сайт в разработке
		p  По сути это просто сборник разных проектов выполненых мной
.file.file--folder
	.file__label
		.file__name Проекты
		.file__content
			.file.file--folder
				.file__label 
					.file__name price
					.file__content
						.file.file--text
							.file__label
								.file__name описание
							.file__content
								h2 Проект под кодовым названием price
								p  Помошник начинающего часового мастера, который подскажет цену на замену батарейки.
								|В будущем будут реализованы дополнительные полезные функции вроде краткого описания компаний, редкости, страны производства и многое другое
						.file.file--link
							a(href='https://milkyfuckinway.github.io/price/')
								.file__label
									.file__name price
			.file.file--folder
				.file__label 
					.file__name smart device
					.file__content
						.file.file--text
							.file__label
								.file__name описание
							.file__content
								h2 Первый проект акселератора smart device
								p Макет данного проекта был куплен на птичьем рынке за пачку сухариков, ну либо авторы просто хотели что бы студенты помучались
								| 98% из 100
								strong БЭМ, Desktop First, Sass, Gulp
						.file.file--link
							a(href='https://milkyfuckinway.github.io/smartdevice/')
								.file__label
									.file__name smart device
			.file.file--folder
				.file__label 
					.file__name cat energy
					.file__content
						.file.file--text
							.file__label
								.file__name описание
							.file__content
								h2 учебный проект cat energy
								p После мишки глаза загорелись, но только на пару дней, всё что успел сверстать то и осталось, когда нибудь руки дойдут доделать
						.file.file--link
							a(href='https://milkyfuckinway.github.io/cat-energy/')
								.file__label
									.file__name cat energy
			.file.file--folder
				.file__label 
					.file__name drink2go
					.file__content
						.file.file--text
							.file__label
								.file__name описание
							.file__content
								h2 проект грейдирования
								p 40 часов, 95% из 100
						.file.file--link
							a(href='https://milkyfuckinway.github.io/drink2go/')
								.file__label
									.file__name drink2go
			.file.file--folder
				.file__label 
					.file__name мишка
					.file__content
						.file.file--text
							.file__label
								.file__name описание
							.file__content
								h2 Тупа мишка
								p 
						.file.file--link
							a(href='https://milkyfuckinway.github.io/mishka/')
								.file__label
									.file__name mishka



