main.main-content
    section.desktop
        .desktop__wrapper
            .file
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .file__name about
                .window.window--collapsed
                    .window__header
                        .window__draggable-area
                            .window__path C:\about
                        .window__buttons 
                            button.window__button.window__button--collapse(type='button')
                            button.window__button.window__button--expand(type='button')
                            button.window__button.window__button--close(type='button')
                    .window__content
            .file
                .file__label
                    .file__icon.file__icon--ie
                        //- .file__icon-file
                    .file__name about
                .window.window--collapsed
                    .window__header
                        .window__draggable-area
                            .window__path C:\about
                        .window__buttons 
                            button.window__button.window__button--collapse(type='button')
                            button.window__button.window__button--expand(type='button')
                            button.window__button.window__button--close(type='button')
                    .window__content
                        h2 start article
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 end article
        .desktop__footer
            .desktop__start
                svg(width='94' height='77')
                    use(xlink:href="img/sprite-multi.svg#windows-logo")