main.main-content 
    section.notebook 
        .note 
            .note__header
                a.note__address(href="#") C:\note\
                .note__buttons 
                    button.note__button.note__collapse
                    button.note__button.note__expand
                    button.note__button.note__close
            .note__content
                p text text
                a text text
                div text text
                h1 text text
            .note__footer