main.main-content
    .loading
        .loading__wrapper
            .loading__logo 
                svg(width='99' height='58')
                    use(href="img/sprite-multi.svg#windows-xp")
            .loading__bar
                .loading__boxes
                    .loading__box
    section.desktop
        .desktop__wrapper.grid
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name first file
                    .file__content.visually-hidden
                        h2 yes its the start of the story
                        p lets look
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name second file
                    .file__content.visually-hidden
                        h2 second file
                        p and here is the second file
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--text
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(href="img/sprite-multi.svg#file")
                    .file__name third file
                    .file__content.visually-hidden
                        h2 third file is going to show up
                        p lets look into it
            .file.file--link
                a(href='https://milkyfuckinway.github.io/cat-energy/')
                    .file__label
                        .file__icon.file__icon--ie
                        .file__name cat energy
            .file.file--folder
                .file__label
                    .file__icon.file__icon--folder
                        svg(width='54' height='50')
                            use(href="img/sprite-multi.svg#folder")
                    .file__name folder
                    .file__content.visually-hidden
                        .file.file--text
                            .file__label
                                .file__icon
                                    svg(width='73' height='87')
                                        use(href="img/sprite-multi.svg#file")
                                .file__name folder text file
                                .file__content.visually-hidden
                                    h2 folder text file
                                    p folder text file
                        .file.file--link
                            a(href='https://milkyfuckinway.github.io/cat-energy/')
                                .file__label
                                    .file__icon.file__icon--ie
                                    .file__name cat energy
        .desktop__footer
            .desktop__start
                svg(width='94' height='77')
                    use(href="img/sprite-multi.svg#windows-logo")