main.main-content 
    section.notebook 
        .notebook__content
            .note
                .note__file
                    .note__file-icon
                    .note__file-name about
                .note__window
                    .note__header
                        .note__address C:\portfolio\about
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                    .note__file-name about
                .note__window
                    .note__header
                        .note__address C:\portfolio\about
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
        .note__footer