main.main-content 
    section.monitor 
        .desktop
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name about
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\about
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name achievmentsachievm entsachievmentsachievments achievmentsachievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
            .note
                .note__file
                    .note__file-icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .note__file-name my achievments
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\achievments
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 i did this
                        a text text
                        div text text
                        h1 text text
        .note__footer
            .note__start
                svg(width='94' height='77')
                    use(xlink:href="img/sprite-multi.svg#windows-logo")