main.main-content
    section.desktop
        .desktop__wrapper
            .file
                .file__label
                    .file__icon
                        svg(width='73' height='87')
                            use(xlink:href="img/sprite-multi.svg#file")
                    .file__name about
                .note__window.note__window--collapsed
                    .note__header
                        .note__draggable-area
                            .note__address C:\about
                        .note__buttons 
                            button.note__button.note__collapse(type='button')
                            button.note__button.note__expand(type='button')
                            button.note__button.note__close(type='button')
                    .note__content
                        h2 start article
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 text text
                        h2 hello, my name is #####
                        a text text
                        div text text
                        h1 end article
        .note__footer
            .note__start
                svg(width='94' height='77')
                    use(xlink:href="img/sprite-multi.svg#windows-logo")