
.template.visually-hidden
    .note__reference
        svg.note__refrence-icon.note__refrence-icon--file(width='73' height='87')
            use(xlink:href="img/sprite-multi.svg#file")
        p.note__refrence-text