
.template.visually-hidden   
    .reference
        p.reference__text
    .window.window--collapsed
        .window__header
            .window__draggable-area
                .window__path
            .window__buttons 
                button.window__button.window__button--collapse(type='button')
                button.window__button.window__button--expand(type='button')
                button.window__button.window__button--close(type='button')