
.template.visually-hidden   
	.reference
		p.reference__text
	.window.window--collapsed
		.window__header
			.window__draggable-area
				.window__path
			.window__buttons 
				button.window__button.window__button--collapse(data-button-collapse type='button')
				button.window__button.window__button--expand(data-button-expand type='button')
				button.window__button.window__button--close(data-button-close type='button')
	.file__icon.file__icon--desktop.file__icon--text
		svg(width='73' height='87')
			use(href="img/sprite-multi.svg#file")
	.file__icon.file__icon--desktop.file__icon--link
		svg(width='27' height='30')
			use(href="img/sprite-multi.svg#ie")
	.file__icon.file__icon--desktop.file__icon--folder
		svg(width='54' height='50')
			use(href="img/sprite-multi.svg#folder")