|Спрайт для computer
svg(width='#' height='#')
    use(xlink:href="img/sprite-multi.svg#computer")
|Спрайт для windows-logo
svg(width='#' height='#')
    use(xlink:href="img/sprite-multi.svg#windows-logo")
|Спрайт для file
svg(width='#' height='#')
    use(xlink:href="img/sprite-multi.svg#file")
|Спрайт для folder
svg(width='#' height='#')
    use(xlink:href="img/sprite-multi.svg#folder")
