.desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.desktop__wrapper {
  background-color: rgb(1 142 149);
}

.desktop__footer {
  background-color: #c4c1bc;
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  height: 36px;
  overflow: auto;
  padding: 2px;
  scrollbar-width: none;
  width: 100%;
  z-index: 99999;

  &::-webkit-scrollbar {
    display: none;
  }
}

.desktop__start {
  background-color: #c4c1bc;
  border-bottom: 2px inset rgb(0 0 0 / 50%);
  border-left: 2px inset rgb(0 0 0 / 50%);
  border-right: 2px inset rgb(255 255 255 / 50%);
  border-top: 2px inset rgb(255 255 255 / 50%);
  display: flex;
  height: auto;
  padding: 2px;
  width: 36px;

  & svg {
    height: 100%;
    width: auto;
  }
}
