.desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.desktop__wrapper {
  background-color: $desktop-color;
}

.desktop__footer {
  background-color: $background-light;
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  height: 36px;
  overflow: auto;
  padding: 2px;
  scrollbar-width: none;
  width: 100%;
  z-index: 99999;

  &::-webkit-scrollbar {
    display: none;
  }
}

.desktop__start {
  background-color: $background-light;
  display: flex;
  height: auto;
  padding: 2px;
  width: 36px;
  @include old-border(2);

  & svg {
    height: 100%;
    width: auto;
  }
}
