.file {
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;

  &:hover {
    outline: 1px dotted #000000;
  }
}

.file__label {
  display: grid;
  flex-direction: column;
  gap: 10%;
  grid-template-rows: 65% 25%;
  height: 100%;
  pointer-events: none;
}

.file__label--active {
  outline: 1px dotted #000000;
}

.file__icon {
  display: flex;
  height: 100%;
  width: 100%;
}

.file__icon--desktop {
  padding: 5px 10px;
}

.file__icon svg {
  height: auto;
  width: 100%;
}

.file__name {
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  user-select: none;
  white-space: nowrap;
}

.file--opened {
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
}
