.notebook__content {
  display: grid;
  flex-grow: 1;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-template-rows: repeat(auto-fit, 75px);
  min-height: calc(100vh - 30px);
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.note__footer {
  bottom: 0;
  display: flex;
  height: 30px;
  position: fixed;
}

.note__reference {
  border: 1px solid $note-header;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

.note__file {
  display: grid;
  grid-template-rows: 60px 15px;

  &:hover {
    background-color: #ececec;
    box-shadow: -3px 3px 0 #c0c0c0;
    outline: 1px dotted #000000;
  }
}

.note__file--active {
  background-color: #ececec;
  box-shadow: -3px 3px 0 #c0c0c0;
  outline: 1px dotted #000000;
  outline-style: dotted;
}

.note__file-icon {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  & svg {
    height: auto;
    width: 100%;
  }
}

.note__file-name {
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}

.note__window {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  position: absolute;
}

.note__window--collapsed {
  display: none;
}

.note__window--fullscreen {
  height: 100%;
  left: 0 !important;
  max-width: 100%;
  top: 0 !important;
  width: 100%;
}

.note__header {
  align-items: center;
  background-color: $note-header;
  color: $note-header-items;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 0 10px;
  width: 100%;
}

.note__address {
  color: $note-header-items;
  overflow: hidden;
  pointer-events: none;
  text-decoration: none;
  text-overflow: ellipsis;
}

.note__buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 22px);
  height: 22px;
  justify-content: end;
}

.note__button {
  background-color: transparent;
  border: 1px solid $note-header-items;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;

  &::after,
  &::before {
    content: "";
    position: absolute;
  }
}

.note__collapse {
  &::after {
    background-color: $note-header-items;
    bottom: 4px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
}

.note__expand {
  &::after {
    background-color: transparent;
    border: 1px solid $note-header-items;
    bottom: 2px;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

.note__close {
  &::after,
  &::before {
    background-color: $note-header-items;
    bottom: 2px;
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.note__content {
  background-color: #d1d1d1;
  flex-grow: 1;
  height: auto;
  padding: 10px;
  width: 100%;
}
