.reference {
  background-color: #c4c1bc;
  border-bottom: 2px inset rgb(0 0 0 / 50%);
  border-left: 2px inset rgb(0 0 0 / 50%);
  border-right: 2px inset rgb(255 255 255 / 50%);
  border-top: 2px inset rgb(255 255 255 / 50%);
  cursor: pointer;
  display: grid;
  flex-shrink: 0;
  gap: 5px;
  grid-template-columns: 20px 80px;
  height: 32px;
  padding: 2px;
}

.reference--active {
  background-color: #b1aea8;
  border-bottom: 2px inset rgb(255 255 255 / 50%);
  border-left: 2px inset rgb(255 255 255 / 50%);
  border-right: 2px inset rgb(0 0 0 / 50%);
  border-top: 2px inset rgb(0 0 0 / 50%);
}

.reference__text {
  font-size: 12px;
  line-height: 200%;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
