.reference {
  background-color: #c4c1bc;
  border-bottom: 2px inset rgb(0 0 0 / 50%);
  border-left: 2px inset rgb(0 0 0 / 50%);
  border-right: 2px inset rgb(255 255 255 / 50%);
  border-top: 2px inset rgb(255 255 255 / 50%);
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  height: auto;
  padding: 5px;
  width: 100px;
}

.reference--active {
  background-color: #b1aea8;
  border-bottom: 2px inset rgb(255 255 255 / 50%);
  border-left: 2px inset rgb(255 255 255 / 50%);
  border-right: 2px inset rgb(0 0 0 / 50%);
  border-top: 2px inset rgb(0 0 0 / 50%);
}

.reference__icon {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: auto;
}

.reference__text {
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
