.window {
  background-color: #c4c1bc;
  border-bottom: 2px inset rgb(0 0 0 / 50%);
  border-left: 2px inset rgb(0 0 0 / 50%);
  border-right: 2px inset rgb(255 255 255 / 50%);
  border-top: 2px inset rgb(255 255 255 / 50%);
  display: flex;
  flex-direction: column;
  height: 70%;
  margin: 0 auto;
  max-width: 70%;
  min-width: 300px;
  position: absolute;
  width: 100%;
}

.window--collapsed {
  display: none;
}

.window--fullscreen {
  height: calc(100% - 36px);
  left: 0 !important;
  max-width: 100%;
  top: 0 !important;
  transform: translate(0, 0) !important;
  width: 100%;
}

.window__header {
  align-items: center;
  background-color: #828282;
  color: $note-header-items;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 0 10px;
  width: 100%;
}

.window__header--active {
  background-color: hsl(223deg 90% 40%);
}

.window__draggable-area {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 18px 1fr;
  height: 100%;
  width: 100%;
}

.window__path {
  color: #c4c1bc;
  overflow: hidden;
  pointer-events: none;
  text-decoration: none;
  text-overflow: ellipsis;
}

.window__buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 22px);
  height: 22px;
  justify-content: end;
}

.window__button {
  background-color: #c4c1bc;
  border-bottom: 1px inset rgb(0 0 0 / 50%);
  border-left: 1px inset rgb(0 0 0 / 50%);
  border-right: 1px inset rgb(255 255 255 / 50%);
  border-top: 1px inset rgb(255 255 255 / 50%);
  cursor: pointer;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &:hover,
  &:active {
    border-bottom: 1px inset rgb(255 255 255 / 50%);
    border-left: 1px inset rgb(255 255 255 / 50%);
    border-right: 1px inset rgb(0 0 0 / 50%);
    border-top: 1px inset rgb(0 0 0 / 50%);
  }

  &:hover {
    background-color: #c4c1bc;
  }

  &:active {
    background-color: hsl(37deg 6% 60%);
  }
}

.window__button--collapse {
  &::after {
    background-color: #000000;
    bottom: 4px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
}

.window__button--expand {
  &::after {
    background-color: transparent;
    border: 2px solid #000000;
    bottom: 2px;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}

.window__button--close {
  &::after,
  &::before {
    background-color: #000000;
    bottom: 2px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.window__content {
  background-color: #ffffff;
  border: 10px solid #c4c1bc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.window--folder {
  background-color: #ffffff;
  border: 10px solid #c4c1bc;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-template-rows: repeat(auto-fill, 75px);
}
